.section_03 {
  display: grid;
  grid-auto-flow: column;
  align-items: start;
  column-gap: 5rem;
  row-gap: 2rem;
  justify-content: center;
  @extend .full_bg;

  @include md {
    grid-auto-flow: row;
    margin-top: 30px;
  }

  .frame_01 {
    display: grid;
    gap: 2rem;
    max-width: 450px;
    display: grid;
    border: 1px solid var(--color-1);
    padding: 30px;
    min-height: 450px;
    align-items: flex-start;
    border-radius: 10px;
    grid-template-rows: 60px 1fr;
    justify-items: center;
    transition: all 0.3s;

    .text-group {
      display: grid;
      grid-auto-flow: column;
      grid-template-columns: auto 1fr;
      align-items: center;
      gap: 0.5rem;
      width: fit-content;
      padding-bottom: 10px;
    }
    @include md {
      padding: 30px 20px;
      align-items: center;
    }

    svg {
      color: var(--color-1);
    }
    &:hover {
      box-shadow: 0px 0px 30px 1px var(--box-shadow);
    }
  }
  .text01 {
    padding-bottom: 5px;
    font-weight: 600;
    color: var(--color-1);
    border-bottom: 3px solid var(--color-1);
    width: fit-content;
  }
  .text02 {
    text-align: justify;
    align-self: flex-start;
  }
}
