.section_03 {
  @extend .full_bg;
  padding-bottom: 100px;
  .heading {
    padding-bottom: 5px;
    width: max-content;
    border-bottom: 3px solid var(--color-1);
    margin: 0 auto;
    margin-bottom: 50px;
    font-weight: 500;
  }
  .container {
    display: grid;
    grid-auto-flow: column;
    align-items: start;
    // width: max-content;
    column-gap: 5rem;
    row-gap: 2rem;
    justify-content: center;
    // padding-left: 10px;
    // padding-right: 10px;
    margin: 0 auto;

    @include md {
      margin: 0 auto;
      grid-auto-flow: row;
      margin-top: 30px;
    }

    .frame_01 {
      display: grid;
      gap: 4rem;
      max-width: 650px;
      display: grid;
      border: 1px solid var(--color-1);
      padding: 30px;
      min-height: 100%;
      align-items: flex-start;
      border-radius: 10px;
      grid-template-rows: 60px 1fr;
      justify-items: center;
      transition: all 0.3s;

      @include md {
        padding: 30px 20px;
        // align-items: center;
      }

      @include xs {
        padding: 10px;
        // padding: 30px 10px;
      }

      .text-group {
        display: grid;
        // grid-auto-flow: column;
        // grid-template-columns: auto 1fr;
        justify-items: center;
        align-items: center;
        gap: 0.5rem;
        width: fit-content;
        position: relative;
        padding-bottom: 10px;
        margin-bottom: 10px;
        &::after {
          content: "";
          position: absolute;
          // left: -3%;
          bottom: 0px;
          width: 60px;
          height: 4px;
          transform: skew(-12deg);
          background: var(--color-1);
          opacity: 0.75;
          z-index: -1;
        }
      }

      svg {
        color: var(--color-1);
      }
      &:hover {
        box-shadow: 0px 0px 30px 1px var(--box-shadow);
      }
    }
    .text01 {
      padding-bottom: 5px;
      font-weight: 600;
      color: var(--color-1);
      // border-bottom: 3px solid var(--color-1);
      width: fit-content;
    }
    .text02 {
      text-align: justify;
      align-self: flex-start;
    }
  }
}
