.section_03 {
  * {
    background: rgb(0 100 0 / 0.1) !important;
  }
  display: grid;
  grid-auto-flow: column;
  .frame_01 {
    display: grid;
  }
  .text01 {
  }
  .text02 {
    align-self: flex-start;
  }
}
