.home {
  --frame-maxHeight: 800px;

  @extend .sections-wrapper !optional;

  @import "./Section_01/index.scss";
  @import "./Section_02/index.scss";
  @import "./Section_03/index.scss";
  @import "./Section_04/index.scss";
  @import "./Section_05/index.scss";
}
