.elipse-text {
  .btn01 {
    display: inline-flex;
    color: var(--color-dark);
    align-items: center;
    gap: 0.5rem;
    border-bottom: 1px dotted var(--color-dark);
  }

  .text01 {
    display: contents;
  }
}
