:root {
  --nav-height: 70px;
  --color-dark: #0d182c;
  --color-light: #ffffff;
  --color-1: #5a7729;
  --color-2: #1a4a67;

  // --color-1: #ff5f7e;

  --color-gradient: linear-gradient(82.3deg, var(--color-1) 10.8%, var(--color-2) 94.3%);

  // custom variables
  --font-family_1: "IBM Plex Sans", "Raleway", "Roboto", sans-serif;
  --box-shadow-light: var(--color-light) 0px 0px 1px 0px;
  --box-shadow-dark: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  --arrow-color: var(--color-dark);
  --body-bg: linear-gradient(176deg, rgb(18, 24, 27) 50%, rgb(32, 39, 55) 100%);
  --transition: all 0.2s ease-in-out;
  --box-shadow: var(--color-dark) 0px 0px 1px 0px;
}
* {
  // background: rgb(0 100 0 / 0.1) !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--color-dark);
}

[custom-theme="dark"] {
  --color-light: #0d182c;
  --color-dark: #ffffff;
  --color-1: #cae88e;
}

html {
  // width: 100%;
  // font-size: min(max(1rem, 4vw), 18px);
  // overflow-y: scroll;
  // overflow-x: hidden;
  font-family: var(--font-family_1);
}

body {
  // background: var(--body-bg);
  --nav-height: 70px;

  &.dark {
    --color-dark: #ffffff;
    --color-light: #000000;
    --box-shadow: var(--box-shadow-light);
  }
}

main {
  // &:before {
  //   width: 100%;
  //   display: block;
  //   height: calc(var(--nav-height) + 10px);
  // }
}

::-webkit-scrollbar {
  width: 0;
}
::-webkit-scrollbar-thumb {
  background: transparent !important;
}

.w-700 {
  font-weight: 700;
}

.w-300 {
  font-weight: 200;
}

.w-500 {
  font-weight: 500;
}

.w-600 {
  font-weight: 600;
}

.v-center-abs {
  top: 50%;
  transform: translateY(-50%);
}

.h-center-abs {
  left: 50%;
  transform: translateX(-50%);
}

.hidden {
  visibility: hidden;
  height: 0;
  overflow: hidden;
}

.visible {
  visibility: visible;
  overflow: visible;
  height: auto;
}

ul {
  list-style-type: none;
}

.image {
  height: 100%;
  width: 100%;
}

.icon {
  max-width: 2.4rem;
  max-height: 2.4rem;
}

.underline {
  text-decoration: underline;
}
#root {
  // max-width: 1440px;
  margin: 0 auto;
  // background-color: var(--color-bg-image);
}

section {
  --frame_maxwidth: 1600px;
  --row_gap: 80px;
  max-width: var(--frame_maxwidth);
  margin: 0px auto;
  padding-top: var(--row_gap);
  padding-bottom: var(--row_gap);

  @include md {
    --frame_maxwidth: 650px;
    --row_gap: 50px;
    overflow: hidden;
  }
}

.full_bg {
  box-shadow: 0 0 0 100vmax var(--color-light);
  background: var(--color-light);
  clip-path: inset(0 -100vmax);
  overflow-x: hidden;
}

.u-block-1 {
  width: 70%;

  @include xs {
    width: 90%;
  }
  @include tn {
    width: 95%;
  }
}

// .dark-overlay {
//   content: "";
//   position: fixed;
//   background: rgb(1, 1, 1, 0.7);
//   top: 0px;
//   left: 0;
//   height: 100%;
//   width: 100%;
// }

// --color-50: #f4f6fb;
// --color-100: #e8ecf6;
// --color-200: #ccd6eb;
// --color-300: #9fb4da;
// --color-400: #6b8dc5;
// --color-500: #486faf;
// --color-600: #375692;
// --color-700: #2d4677;
// --color-800: #293d63;
// --color-900: #263554;

// --color-900: #f4f6fb;
// --color-800: #e8ecf6;
// --color-700: #ccd6eb;
// --color-600: #9fb4da;
// --color-500: #6b8dc5;
// --color-400: #486faf;
// --color-300: #375692;
// --color-200: #2d4677;
// --color-100: #293d63;
// --color-50: #263554;

// .sections-wrapper {
//   --grid_gap: 80px;
//   --grid_margin: 40px;
//   --frame_maxwidth: 1600px;

//   max-width: var(--frame_maxwidth);
//   display: grid;
//   width: fit-content;
//   gap: var(--grid_gap);
//   margin: var(--grid_margin) auto;

//   @include md {
//     --grid_gap: 50px;
//     --frame_maxwidth: 600px;
//   }
// }
