:root {
  --nav-height: 70px;

  // LIGHT COLORS
  // --color-dark: #1d1d1d;

  --color-dark: #0d182c;
  --color-light: #ffffff;
  --color-1: #f42;
  --color-2: rgb(25, 65, 47);

  --color-gradient: linear-gradient(82.3deg, var(--color-1) 10.8%, var(--color-2) 94.3%);

  // custom variables
  --font-family_1: "IBM Plex Sans", "Raleway", "Roboto", sans-serif;
  --box-shadow-light: var(--color-light) 0px 0px 1px 0px;
  --box-shadow-dark: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  --arrow-color: var(--color-dark);
  --body-bg: linear-gradient(176deg, rgb(18, 24, 27) 50%, rgb(32, 39, 55) 100%);
  --transition: all 0.2s ease-in-out;
  --box-shadow: var(--color-dark) 0px 0px 1px 0px;
}

* {
  background: rgb(0 100 0 / 0.1) !important;
}

button,
a {
  cursor: pointer;
}

html {
  width: 100%;
  font-size: min(max(1rem, 4vw), 22px);
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: var(--font-family_1);
  word-wrap: break-word;
}

body {
  // background: var(--body-bg);
  --nav-height: 70px;
  @include maxMedia(1025px) {
    --nav-height: 65px;
  }
  &.dark {
    --color-dark: #ffffff;
    --color-light: #000000;
    --box-shadow: var(--box-shadow-light);
  }
}

main {
  &:before {
    width: 100%;
    display: block;
    height: calc(var(--nav-height) + 10px);
  }
}

::-webkit-scrollbar {
  width: 0;
}
::-webkit-scrollbar-thumb {
  background: transparent !important;
}

// .dark-overlay {
//   content: "";
//   position: fixed;
//   background: rgb(1, 1, 1, 0.7);
//   top: 0px;
//   left: 0;
//   height: 100%;
//   width: 100%;
// }

.w-700 {
  font-weight: 700;
}

.w-300 {
  font-weight: 200;
}

.w-500 {
  font-weight: 500;
}

.w-600 {
  font-weight: 600;
}

ul {
  list-style-type: none;
}

.image {
  height: 100%;
  width: 100%;
}

.icon {
  max-width: 2.4rem;
  max-height: 2.4rem;
}

.underline {
  text-decoration: underline;
}
#root {
  // max-width: 1440px;
  margin: 0 auto;
  // background-color: var(--color-bg-image);
}

section {
  max-width: 2550px;
  margin: 0 auto;
  // margin-bottom: 8rem !important;
}

.u-block-1 {
  width: 70%;

  @include xs {
    width: 90%;
  }
  @include tn {
    width: 95%;
  }
}
