.section_01 {
  max-width: var(--frame-maxWidth);
  max-height: var(--frame-maxHeight);
  background-color: var(--color-light);
  // * {
  //   color: var(--color-dark);
  // }

  box-shadow: 0 0 0 100vmax var(--color-light);
  background: var(--color-light);
  clip-path: inset(0 -100vmax);
  overflow-x: hidden;

  // margin: 30px auto;
  padding: 30px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 2rem;
  // width: 90%;
  // max-width: var(--frame-maxWidth);

  @include md {
    grid-auto-flow: row;
    grid-template-columns: 1fr;
    max-height: none;
    row-gap: 1rem;
  }

  .frame_01 {
    display: grid;
    align-content: center;
    // margin: 0 auto;
    padding: 20px;
    gap: 1rem;
    max-width: 650px;
    justify-items: start;
    width: 95%;

    p {
      text-align: justify;
    }

    h4 {
      font-weight: 500;
      color: var(--color-1);
      border-bottom: 2px solid var(--color-1);
    }

    button {
      margin-top: 10px;
    }
    @include md {
      width: 100%;
    }

    @include xs {
      justify-items: center;
      h4,
      h2 {
        text-align: center;
      }
      p {
        text-align: justify;
      }
      button {
        width: 100%;
        text-align: center;
      }
    }
  }

  .frame_02 {
    // max-width: 700px;
    // margin-left: 30px;
    // align-self: center;
    display: grid;
    // padding: 30px;
    .iframe-container {
      position: relative;
      width: 100%;
      height: 0;
      overflow: hidden;
      padding-top: 56.25%;
      .video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }

  // .frame_02 {
  //   // align-self: center;
  //   height: 100%;
  //   object-fit: contain;

  //   @include md {
  //     // height: 350px;
  //     // width: 100%;
  //   }

  //   .video {
  //     width: 100%;
  //     height: 100%;
  //     @include md {
  //       // width: 100%;
  //       // height: 100%;
  //     }
  //   }
  // }
}

// img {
//   width: 100%;
//   height: 100%;
//   object-fit: fill;
//   object-position: right bottom;
// }
