.section_01 {
  --frame-maxWidth: 550px;

  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-height: 700px;
  column-gap: 1rem;

  @include md {
    grid-auto-flow: row;
    grid-template-columns: 1fr;
    max-height: none;
    row-gap: 1rem;
    max-width: var(--frame-maxWidth);
  }

  .frame_01 {
    display: grid;
    align-content: center;
    margin: 0 auto;
    padding: 10px;
    gap: 1rem;
    justify-items: start;
    max-width: 600px;

    h4 {
    }

    @include xs {
      justify-items: center;
      h4,
      h2 {
        text-align: center;
      }
      p {
        text-align: justify;
      }
      button {
        width: 100%;
        text-align: center;
      }
    }
  }

  .frame_02 {
    position: relative;
    margin: 0 auto;

    @include md {
      max-height: 450px;
      min-width: 100%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: fill;
      object-position: right bottom;
    }
  }
}
