.section_01 {
  display: grid;
  grid-auto-flow: row;
  align-content: center;
  height: 100vh;
  justify-items: center;
  row-gap: 2rem;
  background: url("/assets/images/home/sec01/img-01.png") no-repeat center right fixed;
  background-size: cover;
  justify-content: center;
  background-color: var(--color-dark);
  &:before {
    content: "";
    position: absolute;
    background: rgb(1, 1, 1, 0.8);
    top: var(--nav-height);
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }

  .paragraph,
  .h-medium {
    text-align: center;
    color: var(--color-light);
    z-index: 1;
  }

  .h-medium {
    text-transform: uppercase;
    span {
      color: var(--color-1);
    }
  }
  .paragraph {
    opacity: 0.75;
  }

  .btn-group {
    //z-index: 1;
    display: flex;
    align-items: center;
    column-gap: 1rem;
    img {
      outline: none;
      max-width: 200px;
      max-height: 50px;
    }
  }

  .play-btn {
    //z-index: 1;
  }

  .icons8-youtube {
    display: inline-block;
    width: 48px;
    height: 48px;
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4Igp3aWR0aD0iNDgiIGhlaWdodD0iNDgiCnZpZXdCb3g9IjAgMCA0OCA0OCIKc3R5bGU9IiBmaWxsOiMwMDAwMDA7Ij48cGF0aCBmaWxsPSIjRkYzRDAwIiBkPSJNNDMuMiwzMy45Yy0wLjQsMi4xLTIuMSwzLjctNC4yLDRjLTMuMywwLjUtOC44LDEuMS0xNSwxLjFjLTYuMSwwLTExLjYtMC42LTE1LTEuMWMtMi4xLTAuMy0zLjgtMS45LTQuMi00QzQuNCwzMS42LDQsMjguMiw0LDI0YzAtNC4yLDAuNC03LjYsMC44LTkuOWMwLjQtMi4xLDIuMS0zLjcsNC4yLTRDMTIuMyw5LjYsMTcuOCw5LDI0LDljNi4yLDAsMTEuNiwwLjYsMTUsMS4xYzIuMSwwLjMsMy44LDEuOSw0LjIsNGMwLjQsMi4zLDAuOSw1LjcsMC45LDkuOUM0NCwyOC4yLDQzLjYsMzEuNiw0My4yLDMzLjl6Ij48L3BhdGg+PHBhdGggZmlsbD0iI0ZGRiIgZD0iTTIwIDMxTDIwIDE3IDMyIDI0eiI+PC9wYXRoPjwvc3ZnPg==")
      50% 50% no-repeat;
    background-size: 100%;
  }
}

// &:before {
//   content: "";
//   position: absolute;
//   background: rgb(1, 1, 1, 0.7);
//   top: 70px;
//   left: 0;
//   height: 100%;
//   width: 100%;
// }
