.section_02 {
  --frame-maxWidth: 550px;
  --frame-maxHeight: 550px;

  margin: 20px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  // max-height: 700px;
  column-gap: 1rem;
  @include md {
    grid-auto-flow: row;
    grid-template-columns: 1fr;
    max-height: none;
    row-gap: 1rem;
    max-width: var(--frame-maxWidth);
  }

  .frame_01 {
    position: relative;
    margin: 0 auto;

    @include md {
      max-height: 450px;
      min-width: 100%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .frame_02 {
    display: grid;
    margin: 0 auto;
    padding: 10px;
    gap: 1rem;
    justify-items: start;
    // max-height: var(--frame-maxHeight);
    overflow: scroll;
    max-width: 600px;

    @include xs {
      justify-items: center;
      h3,
      h2 {
        text-align: center;
      }
      p {
        text-align: justify;
      }
    }
  }
}
