.btnPrimary {
  // $color_light: #fff;
  // $color_dark: #1d2535;

  $color_dark: #fff;
  $color_light: #1d2535;

  $color_500: rgba($color_dark, 0.5);

  display: inline-block;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: $color_dark;
  background-color: $color_light;
  padding: 0.7em 1.7em;
  border-radius: 2px;
  min-width: 200px;

  &.rounded {
    border-radius: 30px;
  }
  border: 1px solid $color_500;

  &:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: $color_dark;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }

  &:hover {
    color: $color_light;
    border: 1px solid $color_light;
    &:before {
      top: -35%;
      background-color: $color_dark;
      transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
    }
    &:after {
      top: -45%;
      background-color: $color_dark;
      transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
    }
  }
}
